  <nav id="navbar">
   	<div class="logo">
         <img src="imgs/logo.png" alt="KspStaffE-exam">
      </div>
   </nav>
    <section id="form">
       <div class="form-container">
          <form action="" method="post">
             <div class="form-input">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="YOUREMAIL@mail.com" required>
             </div>
             <div class="form-input">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
             </div>
             <div class="form-input">
                <input type="submit" value="Login" id="submit-btn">
             </div>
          </form>
       </div>
    </section>