<nav id="navbar">
   	  <div class="logo">
         <img src="imgs/logo.png" alt="KspStaffE-exam">
      </div>
   	  	<ul class="menu">
   	  		<li><a href="/logout" class="menu-item">Logout</a></li>
   	  	</ul>
</nav>
<section id="admin">
	<div class="panel-container">
	   <div class="side-menu">
	     <ul class="menus">
	       <li><a href="">Dashboard</a></li>
	       <li><a href="">Results</a></li>
	       <li><a href="">candidates</a></li>
	       <li><a href="">Exam</a></li>
	     </ul>
	   </div>
	   <div class="info-right">
	      <div class="">

	      </div>
	   </div>
	</div>
</section>