<nav id="navbar">
      <div class="logo">
         <img src="imgs/logo.png" alt="KspStaffE-exam">
      </div>
	  	<ul class="menu">
	  		<li><a href="/reg" class="menu-item">Register</a></li>
	  		<li><a href="/login" class="menu-item">Login</a></li>
	  	</ul>
</nav>
<header id="header">
	  <div class="header-content-container">
	  	 <div class="header-contents">
	  	 	<h1>Design And Implementation of An Online Examination for Staff Promotion System</h1>
	  	 	<h3>Abdulraheem Hassan Onoruoyiza</h3>
	  	 	<h4>2020/HND/CPS/069</h4>
	  	 	<a href="/login" class="btn">Take Exam!</a>
	  	 </div>
	  </div>
</header>