<nav id="navbar">
   	<div class="logo">
         <img src="imgs/logo.png" alt="KspStaffE-exam">
      </div>
   	  	<ul class="menu">
   	  		<li><a href="/" class="menu-item">Home</a></li>
   	  		<li><a href="/login" class="menu-item">Login</a></li>
   	  	</ul>
   </nav>
    <section id="form">
       <div class="form-container">
          <form action="/api/auth/reg" method="post">
             <div class="form-input">
                <label for="staff-id">Staff Id:</label>
                <input type="text" name="staffId" id="staff-id" placeholder="KSP/STAFF/DEPARTMENT/NUMBER" required>
             </div>
             <div class="form-input">
                <label for="first-name">Firstname:</label>
                <input type="text" name="firstname" id="first-name" required>
             </div>
             <div class="form-input">
                <label for="last-name">Lastname:</label>
                <input type="text" name="lastname" id="last-name" required>
             </div>
             <div class="form-input">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
             </div>
             <div class="form-input">
                <label for="department">Department:</label>
                <input type="email" name="department" id="department" required>
             </div>
             <div class="form-input">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
             </div>
             <div class="form-input">
                <input type="submit" value="Register" id="submit-btn">
             </div>
          </form>
       </div>
    </section>